<!-- wp:group {"tagName":"main","metadata":{"name":"Site Wrap"},"ploverBlockID":"9ed27f2b-1626-41c5-913a-3ef339386991","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" id="royce-site-wrap">
    <!-- wp:template-part {"slug":"header-dark","tagName":"header","area":"header","align":"full"} /-->
    <!-- wp:pattern {"slug":"royce/hero"} /-->
    <!-- wp:pattern {"slug":"royce/features-3-col"} /-->
    <!-- wp:pattern {"slug":"royce/about-with-right-media"} /-->
    <!-- wp:pattern {"slug":"royce/fixed-background-cta"} /-->
    <!-- wp:pattern {"slug":"royce/solutions-and-projects"} /-->
    <!-- wp:pattern {"slug":"royce/fixed-background-testimonial"} /-->
    <!-- wp:pattern {"slug":"royce/restimonials"} /-->
    <!-- wp:pattern {"slug":"royce/faq"} /-->
    <!-- wp:pattern {"slug":"royce/fixed-background-cta-align-center"} /-->
    <!-- wp:pattern {"slug":"royce/latest-3-posts"} /-->

    <!-- wp:template-part {"slug":"footer-dark","area":"footer","tagName":"footer","align":"full"} /-->
</main>
<!-- /wp:group -->